@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;

.forgot-password-step2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: $green-100;

  &-container {
    display: flex;
    padding: 50px;
    background-color: $white;
    border-radius: $br-xl;
    width: 500px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-code-input {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
  }

  &-code-digit {
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 20px;
    font-weight: $fw-semibold;
    border: 2px solid $neutral-400;
    border-radius: $br-rounded;
    background-color: $neutral-100;
    color: $neutral-500;
    @include transition;

    &:focus {
      border-color: $green-600;
      outline: none;
      border-radius: $br-sm;
    }

    &-error {
      border-color: $orange-500;
    }
  }

  &-error {
    color: $orange-500;
    font-size: 14px;
  }

  &-verify-btn {
    background-color: $green-600;
    color: $white;
    padding: 20px;
    border-radius: $br-rounded;
    width: 100%;
    border: none;
    cursor: pointer;
    @include transition;

    &:focus {
      border-radius: $br-sm;
      outline: none;
    }

    &:hover {
      background-color: $green-500;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &-resend-link {
    text-align: center;
    font-size: 16px;
    color: $neutral-500;
  }

  &-resend-action {
    color: $green-600;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;

    &:hover {
      color: $green-500;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &-back-link {
    text-align: center;
    font-size: 16px;
    color: $neutral-500;
  }

  &-back-action {
    color: $green-600;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;

    &:hover {
      color: $green-500;
    }
  }
}
