@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.roadmap {
  &__container {
    display: grid;
    grid-template-columns: 1fr 20dvw;
    gap: toRem(20);
  }

  &__item-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: toRem(50);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(25);
    width: 100%;

    > button {
      width: fit-content;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
    gap: toRem(20);
  }

  &__comment {
    display: flex;
    flex-direction: column;
    gap: toRem(16);
  }
}

@include break(md) {
  .roadmap {
    &__container {
      padding: 0;
      flex-direction: column;
      align-items: center;
    }

    &__list {
      width: 100%;
    }

    &__comment {
      max-width: 100%;
      margin-top: toRem(20);
    }
  }
}
