@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;

$bg-main: #f8f9fa;
$widget-bg: $white;

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: toRem(30);
  background-color: $green-100;
  min-height: 100vh;
  align-items: start;

  &-main {
    display: flex;
    flex-direction: column;
    gap: toRem(30);

    &-courses {
      display: grid;
      grid-template-columns: 1fr;
      gap: toRem(15);
    }
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    gap: toRem(20);

    &-widget {
      background-color: $widget-bg;
      border-radius: $br-xl;
      padding: toRem(24);
      @include box-shadow(0, 4, 6, -1);
    }
  }
}

@include break(md) {
  .dashboard-main-courses {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include break(lg) {
  .dashboard {
    grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
  }
}

@include break(xl) {
  .dashboard-main-courses {
    grid-template-columns: repeat(3, 1fr);
  }
}
