@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/functions" as *;
@use "@styles/mixins" as *;

.course-controller {
  height: calc(100dvh - toRem(77));
  background-color: $white;
  border-right: toRem(1) solid $navy-pastel-200;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  @include transition;
  transition-property: width;
  overflow: hidden;

  width: toRem(60);

  &.expanded {
    width: 20dvw;
    align-items: stretch;
  }

  &_compact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: toRem(20);
    width: 100%;
  }

  &_expanded {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem(20);
    border-bottom: toRem(1) solid $navy-pastel-200;
  }

  &_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
