@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.course-detail-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    padding-bottom: toRem(80);
  }

  &--not-found {
    align-items: center;
    justify-content: center;
  }

  &__not-found-text {
    font-size: $fs-heading6;
    color: $neutral-600;
    text-align: center;

    strong {
      color: $neutral-900;
      font-weight: $fw-semibold;
    }
  }
}
