@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.course-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: toRem(16);
  height: 100%;
  color: $neutral-400;
  min-height: toRem(300);

  p {
    font-size: $fs-paragraph;
    margin: 0;
  }
}
