@use "@styles/functions" as *;
@use "@styles/variables" as *;
@use "@styles/colors" as *;

.chat-messages {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;

  &-list {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
    overflow-y: auto;
    padding: toRem(16);
    scroll-behavior: smooth;
  }

  &-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: toRem(8);
    height: 100%;
    color: $neutral-400;

    .material-symbols-rounded {
      font-size: toRem(40);
    }

    &-text {
      margin: 0;
      font-size: $fs-paragraph;
      color: $neutral-300;
      text-align: center;
    }
  }
}
