@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/functions" as *;
@use "@styles/mixins" as *;

.lesson-detail-page {
  display: grid;
  grid-template-columns: 1fr 20dvw;
  grid-template-rows: 1fr 20dvh;
  padding: toRem(10);
  height: 100%;
  gap: toRem(30);

  > div {
    border: toRem(2) solid $neutral-100;
  }

  .chat-container {
    grid-row: 1 / 3;
  }
}
