@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "sass:math";

.lesson-page {
  width: 100dvw;
  height: 100dvh;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: toRem(77) calc(100dvh - toRem(77));
  background-color: $white;

  .top-nav {
    grid-column: 1 / 3;
  }
}
