@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.dashboard {
  display: grid;
  grid-template-columns: minmax(0, 7fr) minmax(0, 3fr);
  gap: toRem(30);
  background-color: $green-100;
  min-height: 100vh;
  align-items: start;

  &-main {
    display: flex;
    flex-direction: column;
    gap: toRem(30);
    min-width: 0;

    &-courses {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: toRem(15);

      .course-row-divider {
        grid-column: 1 / -1;
        width: 100%;
        border: none;
        border-bottom: toRem(3) solid $neutral-200;
        margin: toRem(10) 0;
      }
    }
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    min-width: 0;

    &-widget {
      background-color: $white;
      border-radius: $br-xl;
      padding: toRem(24);
      @include box-shadow(0, 4, 6, -1);
    }
  }
}

@include break(md) {
  .dashboard {
    grid-template-columns: 1fr;

    &-main-courses {
      grid-template-columns: repeat(2, 1fr);

      .course-row-divider {
        display: none;
      }
    }
  }
}

@include break(s) {
  .dashboard {
    padding: toRem(15);

    &-main-courses {
      grid-template-columns: 1fr;
    }
  }
}
