@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.home {
  margin-top: 20dvh;
  display: grid;
  gap: toRem(20);
  place-items: center;

  &__title {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: toRem(20);

    &-main,
    &-sub {
      text-align: center;
    }

    &-sub {
      font-size: $fs-heading5;
    }
  }

  > .search {
    width: 60dvw;
    margin-top: toRem(30);
  }

  > .search-suggestions {
    gap: toRem(20);
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
}

@include break(md) {
  .home {
    .decoration-shapes {
      visibility: hidden;
    }
  }
}

@include break(sm) {
  .home {
    margin-top: -5dvh;
    height: 85dvh;
    justify-content: space-between;
    place-items: start;

    > .title {
      h1,
      h5 {
        text-align: left;
      }
    }

    > .search {
      width: 100%;
      align-self: end;
    }

    > .search-suggestions {
      grid-area: 2 / 1 / 2 / 1;
      flex-direction: column;
      place-items: start;
    }
  }
}

@include break(xs) {
  .home {
    > .search-suggestions {
      display: none;
    }
  }
}
