@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;
@use "@styles/variables" as *;

.home {
  padding-top: 20dvh;
  display: flex;
  flex-direction: column;
  gap: toRem(50);
  place-items: center;

  & > div {
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: toRem(20);

    h1,
    h5 {
      text-align: center;
    }
  }

  > .search-container {
    width: fit-content;

    > .search-suggestions {
      gap: toRem(20);
      display: flex;
    }
  }
}
