@use "@styles/functions" as *;
@use "@styles/colors" as *;
@use 'sass:math';

body {
  display: flex;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: calc(100dvw - toRem(97.5));

  .inner {
    display: flex;
    flex-direction: column;
    background-color: $green-100;
    padding: toRem(100);
    padding-bottom: toRem(50);
  }

  .content {
    min-height: calc(100dvh - toRem(65));
  }
}
