@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.roadmap-detail-container {
  display: grid;
  grid-template-columns: 1fr 20dvw;
  gap: toRem(20);

  .roadmap-detail-item-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: toRem(50);

    > .title {
      display: flex;
      flex-direction: column;
      gap: toRem(20);

      h3,
      p {
        text-align: center;
      }

      p {
        color: $mode-neutral;
      }
    }

    .roadmap-detail-content {
      display: flex;
      flex-direction: column;
      gap: toRem(25);
      width: 100%;

      > button {
        width: fit-content;
      }
    }

    .roadmap-detail-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
      gap: toRem(20);
    }
  }

  .roadmap-detail-comment {
    display: flex;
    flex-direction: column;
    gap: toRem(16);
  }
}

@include break(md) {
  .roadmap-detail-container {
    padding: 0;
    flex-direction: column;
    align-items: center;

    .roadmap-detail-list {
      width: 100%;
    }

    .roadmap-detail-comment {
      max-width: 100%;
      margin-top: toRem(20);
    }

    .roadmap-detail-content {
      > .search {
        padding: toRem(10) toRem(20);

        > button > span {
          font-size: toRem(24);
        }
      }
    }
  }
}
