@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;

.roadmap-container {
  padding: 0 toRem(150);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(50);

  > .title {
    display: flex;
    flex-direction: column;
    gap: toRem(20);

    h3,
    p {
      text-align: center;
    }

    p {
      color: $mode-neutral;
    }
  }

  .roadmap-content {
    display: flex;
    flex-direction: column;
    gap: toRem(25);
    width: 100%;

    > .controls {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: toRem(20) 0;

      .categories-list {
        display: flex;
        gap: toRem(50);
        flex-wrap: wrap;
        justify-content: center;

        .category-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: toRem(20);
          cursor: pointer;
          color: $neutral-900;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $black;
            transform: translateY(-2px);
          }

          .icon {
            font-size: toRem(28);
          }

          .label {
            font-size: toRem(14);
            font-weight: 500;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .roadmap-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
    gap: toRem(20);
    align-items: stretch;
  }
}

@include break(md) {
  .roadmap-container {
    padding: 0;

    .roadmap-content {
      > .search {
        padding: toRem(10) toRem(20);

        > button > span {
          font-size: toRem(24);
        }
      }
    }
  }
}
