@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "../_teacher-container-shared.scss" as *;

.teacher-container {
  @extend %teacher-container-shared;
  top: 0;
  right: 0;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  place-items: center;
  justify-content: center;

  &__loader-overlay {
    @extend %teacher-container-loader-overlay;
  }

  &__loading-text {
    @extend %teacher-container-loading-text;
  }

  &__loading-message {
    @extend %teacher-container-loading-message;
  }

  @include break(sm) {
    position: absolute;
    top: 11.5dvh;
    right: toRem(20);
  }

  &--2d-mode {
    aspect-ratio: auto;
    place-items: unset;
    justify-content: unset;
  }
}
