@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.reviewer-pending {
  display: flex;
  flex-direction: column;
  gap: toRem(0);
  width: 100%;

  &__table-wrapper {
    width: 100%;
    background-color: $white;
    border-radius: $br-lg;
    @include box-shadow(0, 2, 16, 0);
    overflow: hidden;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }

  &__thead {
    background-color: $neutral-200;
  }

  &__th {
    padding: toRem(12) toRem(16);
    font-size: $fs-small;
    font-weight: $fw-semibold;
    color: $neutral-600;
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;

    &:last-child {
      text-align: right;
    }
  }
}
