@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.course-context {
  display: flex;
  flex-direction: column;
  background-color: $green-100;
  border: toRem(2) solid $green-200;
  padding: toRem(30);
  gap: toRem(20);
  border-radius: $br-xl;
  @include box-shadow(0, 4, 6, -1);
  overflow-y: scroll;
  scroll-behavior: smooth;
}
