@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.al {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f4f6fb;

  &__right {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
    min-width: 0;
  }

  &__main {
    flex: 1;
    overflow-y: auto;
    padding: toRem(32);
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    padding-bottom: toRem(80);
  }
}
