@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.friend-detail {
  font-family: "Google Sans Flex", sans-serif;
  width: 100%;
  margin: 0 auto;

  &__header {
    position: relative;
    margin-bottom: toRem(30);
  }

  &__bg {
    width: 100%;
    height: toRem(280);
    object-fit: cover;
    border-radius: toRem(16);

    &--empty {
      background-color: $green-150;
    }
  }

  &__avatar-wrapper {
    position: absolute;
    bottom: toRem(-40);
    right: toRem(32);
  }

  &__avatar {
    width: toRem(120);
    height: 10%;
    border-radius: $br-xl;
    border: toRem(4) solid $neutral-100;
    object-fit: cover;
    background-color: $neutral-100;
  }

  &__body {
    padding: 0 toRem(8);
  }

  &__name {
    color: $neutral-800;
  }

  &__meta {
    font-size: toRem(16);
    line-height: toRem(20);
    color: $neutral-500;
    margin: 0 0 toRem(24) 0;
  }

  &__add-btn {
    margin-top: toRem(12);
    padding: toRem(8) toRem(24);
    background-color: $green-600;
    color: $neutral-100;
    border-radius: toRem(8);
    border: none;
    cursor: pointer;
    font-weight: 600;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: toRem(1) solid $neutral-250;
    border-radius: $br-xl;
    padding: toRem(20) toRem(32);
    margin-bottom: toRem(32);

    &--with-btn {
      margin-top: toRem(24);
    }
  }

  &__stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__stat-value {
    font-size: toRem(20);
    line-height: toRem(25);
    font-weight: 700;
    color: $mode-neutral;
    margin-bottom: toRem(6);
  }

  &__stat-label {
    font-size: toRem(16);
    line-height: toRem(20);
    color: $mode-neutral;
  }

  &__achievements {
    margin-top: toRem(40);
  }

  &__achievements-title {
    font-size: toRem(25);
    line-height: toRem(31);
    font-weight: 700;
    color: $mode-neutral;
    margin: 0 0 toRem(20) 0;
  }
}

@include break(sm) {
  .friend-detail__bg {
    height: toRem(180);
  }

  .friend-detail__avatar-wrapper {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .friend-detail__avatar {
    width: toRem(90);
    height: toRem(90);
  }

  .friend-detail__name {
    font-size: toRem(28);
    line-height: toRem(34);
    text-align: center;
    margin-top: toRem(40);
  }

  .friend-detail__meta {
    text-align: center;
    font-size: toRem(14);
  }

  .friend-detail__stats {
    flex-wrap: wrap;
    gap: toRem(16);
    justify-content: center;
    padding: toRem(16);
  }
}
