@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(20);
  cursor: pointer;
  color: $neutral-600;
  background: none;
  border: none;
  padding: toRem(8) toRem(16);
  @include transition;
  transition-property: color, transform;

  &:hover {
    color: $black;
    transform: translateY(toRem(-2));
  }

  &--selected {
    color: $navy-600;

    .label {
      font-weight: $fw-semibold;
    }
  }

  .icon {
    font-size: toRem(28);
  }

  .label {
    font-size: toRem(14);
    font-weight: 500;
    white-space: nowrap;
  }
}
