/* member-item.scss */
@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.team-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(toRem(240), 1fr));
  gap: 10dvw;
}
