@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;

.streak-widget {
  display: flex;
  flex-direction: column;
  padding: toRem(20);
  gap: toRem(16);
  background-color: &white;

  &-top {
    display: flex;
    align-items: center;
    gap: toRem(16);

    &-number {
      font-size: toRem(100);
      line-height: toRem(150);
      font-weight: 500;
      line-height: 1;
      color: $neutral-900;
      margin: 0;
    }

    &-info {
      display: flex;
      flex-direction: column;

      .fire-icon {
        font-size: toRem(24);
      }
      .streak-text {
        font-size: toRem(12);
        color: $neutral-900;
        line-height: 1.2;
      }
    }
  }

  &-divider {
    border: none;
    border-top: toRem(1) solid $neutral-250;
    margin: 0;
  }

  &-days {
    display: flex;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: toRem(8);

      .circle {
        width: toRem(24);
        height: toRem(24);
        border-radius: 50%;
        background-color: $neutral-100;
        border: toRem(1) dashed $mode-neutral;
      }

      span {
        font-size: toRem(10);
        color: $black;
      }
    }
  }
}
