@use "@styles/functions" as *;
@use "@styles/colors" as *;

.optimize-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.optimize-image-empty {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: toRem(12);
  background-color: $white;

  .optimize-image-empty-text {
    color: $black;
    font-size: toRem(14);
    line-height: toRem(20);
  }
}

.optimize-image-skeleton {
  position: absolute;
  inset: 0;
  background-color: $grey;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.optimize-image-element {
  transition-property: opacity;
  transition-duration: var(--duration-main, 300ms);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.optimize-image-loaded {
  opacity: 1;
}

.optimize-image-loading {
  opacity: 0;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
