@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.subscription-button {
  @include flex-gap(10);
  width: 100%;
  border-radius: $br-xl;

  &.disabled {
    background-color: $neutral-200;
    color: $neutral-500;
    cursor: not-allowed;
  }

  &-select {
    background-color: $green-300;
    color: $white;
  }
}
