@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;
.friend-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $green-100;
  border: toRem(1) solid $neutral-300;

  &-header {
    display: flex;
    border: toRem(1) solid $neutral-300;
    background-color: $green-100;

    &-tab {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: toRem(8);
      padding: toRem(16) 0;
      font-size: toRem(20);
      font-weight: 500;
      color: $neutral-900;
      background: transparent;
      border: none;
      border-top: toRem(2) solid transparent;
      border-right: toRem(1) solid $neutral-300;
      cursor: pointer;
      transition: all 0.2s ease;

      &:last-child {
        border-right: none;
      }

      &:hover {
        background-color: $green-100;
      }

      &--active {
        background-color: $green-100;
        color: $neutral-900;
        font-weight: 600;
        border-bottom: toRem(2) solid $neutral-900;
        margin-bottom: toRem(-1);
      }
    }
  }

  &-body {
    display: flex;
    flex: 1;
    overflow: hidden;

    &-left {
      flex: 0 0 50%;
      padding: toRem(40);
      display: flex;
      flex-direction: column;
      gap: toRem(20);
      border-right: toRem(1) solid $neutral-300;
      overflow-y: auto;
      background-color: $green-100;

      &-empty {
        text-align: center;
        color: $neutral-500;
        margin-top: toRem(24);
      }
    }

    &-right {
      flex: 1;
      padding: toRem(40);
      background-color: $green-100;
      overflow-y: auto;

      .placeholder-profile {
        display: flex;
        flex-direction: column;
        gap: toRem(10);
        justify-content: center;
        align-items: center;
        height: 100%;

        h5 {
          font-size: toRem(25);
          line-height: toRem(31);
          color: $neutral-500;
        }
        p {
          font-size: toRem(16);
          line-height: toRem(20);
          color: $neutral-400;
        }
      }
    }
  }
}

@include break(md) {
  .friend-page-body {
    flex-direction: column;
  }

  .friend-page-body-left {
    flex: 1;
    padding: toRem(20);
    border-right: none;
    border-bottom: toRem(1) solid $neutral-300;
  }

  .friend-page-body-right {
    padding: toRem(20);
  }
}

@include break(s) {
  .friend-page-header-tab {
    font-size: toRem(16);
    padding: toRem(12) 0;
  }
}
