@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/functions" as *;
@use "@styles/mixins" as *;
@use "sass:math";

.top-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: toRem(12) toRem(24);
  background-color: $white;
  @include transition;
  transition-property: background-color, border-color;
  border-bottom: toRem(1) solid $navy-pastel-200;
  z-index: 1;

  &-left,
  &-right {
    display: flex;
    place-items: center;
  }

  &-left {
    gap: toRem(10);

    span,
    button,
    a {
      font-variation-settings: "FILL" 1;
      color: $black;
    }

    a::first-letter,
    button::first-letter {
      text-transform: uppercase;
    }
  }

  &-right {
    gap: toRem(30);

    .crystal,
    .streak {
      display: flex;
      gap: toRem(10);
      place-items: center;

      span {
        font-variation-settings: "FILL" 1;
        font-size: toRem(25);
      }

      p {
        color: $black;
      }
    }

    .crystal {
      color: $accent-blue-celeste;
    }

    .streak {
      color: $mode-orange;
    }
  }
}

.top {
  background-color: transparent;
  border-color: transparent;
}

@include break(s) {
  .top-nav-left {
    visibility: hidden;
  }
}
