/*
 * PRIMARY
*/
$green-100: var(--color-green-100);
$green-150: var(--color-green-150);
$green-200: var(--color-green-200);
$green-250: var(--color-green-250);
$green-300: var(--color-green-300);
$green-400: var(--color-green-400);
$green-500: var(--color-green-500);
$green-600: var(--color-green-600);
$green-700: var(--color-green-700);
$mode-green: var(--color-green-700);
$green-800: var(--color-green-800);
$green-900: var(--color-green-900);

$green-pastel-100: var(--color-green-pastel-100);
$green-pastel-200: var(--color-green-pastel-200);

/*
 * SECONDARY
 */
$neutral-100: var(--color-neutral-100);
$neutral-150: var(--color-neutral-150);
$neutral-200: var(--color-neutral-200);
$neutral-250: var(--color-neutral-250);
$neutral-300: var(--color-neutral-300);
$neutral-400: var(--color-neutral-400);
$neutral-500: var(--color-neutral-500);
$neutral-600: var(--color-neutral-600);
$neutral-700: var(--color-neutral-700);
$mode-neutral: var(--color-neutral-700);
$neutral-800: var(--color-neutral-800);
$neutral-900: var(--color-neutral-900);
$neutral-pastel-100: var(--color-neutral-pastel-100);
$neutral-pastel-200: var(--color-neutral-pastel-200);

$orange-100: var(--color-orange-100);
$orange-150: var(--color-orange-150);
$orange-200: var(--color-orange-200);
$orange-250: var(--color-orange-250);
$orange-300: var(--color-orange-300);
$orange-400: var(--color-orange-400);
$orange-500: var(--color-orange-500);
$orange-600: var(--color-orange-600);
$orange-700: var(--color-orange-700);
$mode-orange: var(--color-orange-700);
$orange-800: var(--color-orange-800);
$orange-900: var(--color-orange-900);
$orange-pastel-100: var(--color-orange-pastel-100);
$orange-pastel-200: var(--color-orange-pastel-200);

$salmon-100: var(--color-salmon-100);
$salmon-150: var(--color-salmon-150);
$salmon-200: var(--color-salmon-200);
$salmon-250: var(--color-salmon-250);
$salmon-300: var(--color-salmon-300);
$salmon-400: var(--color-salmon-400);
$salmon-500: var(--color-salmon-500);
$salmon-600: var(--color-salmon-600);
$salmon-700: var(--color-salmon-700);
$mode-salmon: var(--color-salmon-700);
$salmon-800: var(--color-salmon-800);
$salmon-900: var(--color-salmon-900);
$salmon-pastel-100: var(--color-salmon-pastel-100);
$salmon-pastel-200: var(--color-salmon-pastel-200);

$dark-green-100: var(--color-dark-green-100);
$dark-green-150: var(--color-dark-green-150);
$dark-green-200: var(--color-dark-green-200);
$dark-green-250: var(--color-dark-green-250);
$dark-green-300: var(--color-dark-green-300);
$dark-green-400: var(--color-dark-green-400);
$dark-green-500: var(--color-dark-green-500);
$dark-green-600: var(--color-dark-green-600);
$dark-green-700: var(--color-dark-green-700);
$mode-dark-green: var(--color-dark-green-700);
$dark-green-800: var(--color-dark-green-800);
$dark-green-900: var(--color-dark-green-900);
$dark-green-pastel-100: var(--color-dark-green-pastel-100);
$dark-green-pastel-200: var(--color-dark-green-pastel-200);

$navy-100: var(--color-navy-100);
$navy-150: var(--color-navy-150);
$navy-200: var(--color-navy-200);
$navy-250: var(--color-navy-250);
$navy-300: var(--color-navy-300);
$navy-400: var(--color-navy-400);
$navy-500: var(--color-navy-500);
$navy-600: var(--color-navy-600);
$navy-700: var(--color-navy-700);
$mode-navy: var(--color-navy-700);
$navy-800: var(--color-navy-800);
$navy-900: var(--color-navy-900);
$navy-pastel-100: var(--color-navy-pastel-100);
$navy-pastel-200: var(--color-navy-pastel-200);

$brown-100: var(--color-brown-100);
$brown-150: var(--color-brown-150);
$brown-200: var(--color-brown-200);
$brown-250: var(--color-brown-250);
$brown-300: var(--color-brown-300);
$brown-400: var(--color-brown-400);
$brown-500: var(--color-brown-500);
$brown-600: var(--color-brown-600);
$brown-700: var(--color-brown-700);
$mode-brown: var(--color-brown-700);
$brown-800: var(--color-brown-800);
$brown-900: var(--color-brown-900);
$brown-pastel-100: var(--color-brown-pastel-100);
$brown-pastel-200: var(--color-brown-pastel-200);

$yellow-100: var(--color-yellow-100);
$yellow-150: var(--color-yellow-150);
$yellow-200: var(--color-yellow-200);
$yellow-250: var(--color-yellow-250);
$yellow-300: var(--color-yellow-300);
$yellow-400: var(--color-yellow-400);
$yellow-500: var(--color-yellow-500);
$yellow-600: var(--color-yellow-600);
$yellow-700: var(--color-yellow-700);
$mode-yellow: var(--color-yellow-700);
$yellow-800: var(--color-yellow-800);
$yellow-900: var(--color-yellow-900);
$yellow-pastel-100: var(--color-yellow-pastel-100);
$yellow-pastel-200: var(--color-yellow-pastel-200);

$warm-100: var(--color-warm-100);
$warm-200: var(--color-warm-200);
$warm-250: var(--color-warm-250);
$warm-300: var(--color-warm-300);
$warm-400: var(--color-warm-400);
$warm-500: var(--color-warm-500);
$warm-600: var(--color-warm-600);
$warm-700: var(--color-warm-700);
$warm-800: var(--color-warm-800);
$warm-900: var(--color-warm-900);

$cool-100: var(--color-cool-100);
$cool-200: var(--color-cool-200);
$cool-250: var(--color-cool-250);
$cool-300: var(--color-cool-300);
$cool-400: var(--color-cool-400);
$cool-500: var(--color-cool-500);
$cool-600: var(--color-cool-600);
$cool-700: var(--color-cool-700);
$cool-800: var(--color-cool-800);
$cool-900: var(--color-cool-900);

$black: var(--color-black);
$white: var(--color-white);
$grey: var(--color-grey);

/*
 * ACCENTS
 */

$accent-smoothing-lime: var(--color-accent-smoothing-lime);
$accent-lilac-vodka: var(--color-accent-lilac-vodka);
$accent-minty: var(--color-accent-minty);
$accent-light-truffle: var(--color-accent-light-truffle);
$accent-blue-celeste: var(--color-accent-blue-celeste);
$accent-classic-pink: var(--color-accent-classic-pink);
$accent-dark-yellow: var(--color-accent-dark-yellow);
$accent-portage: var(--color-accent-portage);
$accent-indicolite: var(--color-accent-indicolite);
