/*
 * PRIMARY
*/
// $green-100: #F4F6F4;
$green-100: #f9faf9;
$green-150: #e3e8e4;
$green-200: #d2dad3;
$green-250: #b6c3b8;
$green-300: #9aac9c;
$green-400: #708f74;
$green-500: #567659;
$green-600: #3f5a42;
$green-700: #2a3e2c;
$mode-green: #2a3e2c;
$green-800: #242e25;
$green-900: #1d201d;

$green-pastel-100: #d0f1d3;
$green-pastel-200: #adebb4;

/*
 * SECONDARY
 */
$neutral-100: #f5f5f5;
$neutral-150: #ebebeb;
$neutral-200: #dbdbdb;
$neutral-250: #c7c7c7;
$neutral-300: #adadad;
$neutral-400: #8f8f8f;
$neutral-500: #757575;
$neutral-600: #5c5c5c;
$neutral-700: #474747;
$mode-neutral: #474747;
$neutral-800: #2e2e2e;
$neutral-900: #151515;
$neutral-pastel-100: #e0e0e0;
$neutral-pastel-200: #cccccc;

$orange-100: #f8e4df;
$orange-150: #f4d2ca;
$orange-200: #eeb8ad;
$orange-250: #e89a8c;
$orange-300: #e7956c;
$orange-400: #d97a6e;
$orange-500: #d85e45;
$orange-600: #d65b40;
$orange-700: #e64c2e;
$mode-orange: #e64c2e;
$orange-800: #b94a32;
$orange-900: #9f402a;
$orange-pastel-100: #f1d6d0;
$orange-pastel-200: #ebb9ad;

$salmon-100: #fdf0ec;
$salmon-150: #fbe3dd;
$salmon-200: #f8d2ca;
$salmon-250: #f4beb3;
$salmon-300: #f0aaa0;
$salmon-400: #ed9c91;
$salmon-500: #eb9689;
$salmon-600: #ea9285;
$salmon-700: #ec9a8d;
$mode-salmon: #ec9a8d;
$salmon-800: #d28276;
$salmon-900: #b86f64;
$salmon-pastel-100: #f1d4d0;
$salmon-pastel-200: #ebb6ad;

$dark-green-100: #daddd9;
$dark-green-150: #c9cec8;
$dark-green-200: #b5bdb3;
$dark-green-250: #98a394;
$dark-green-300: #7b8979;
$dark-green-400: #5e6f5d;
$dark-green-500: #485847;
$dark-green-600: #3a4b3f;
$dark-green-700: #242e25;
$mode-dark-green: #242e25;
$dark-green-800: #1d251e;
$dark-green-900: #171c18;
$dark-green-pastel-100: #d0f1d3;
$dark-green-pastel-200: #adebb4;

$navy-100: #e1e4e8;
$navy-150: #cfd4db;
$navy-200: #b8c0ca;
$navy-250: #9ca6b4;
$navy-300: #808c9e;
$navy-400: #647387;
$navy-500: #556477;
$navy-600: #4b5a6c;
$navy-700: #2b323d;
$mode-navy: #2b323d;
$navy-800: #232932;
$navy-900: #1c2128;
$navy-pastel-100: #d0ddf1;
$navy-pastel-200: #adc5eb;

$brown-100: #e8e1da;
$brown-150: #d9cfc4;
$brown-200: #c6b7a6;
$brown-250: #af9b86;
$brown-300: #978065;
$brown-400: #7f664c;
$brown-500: #6e5740;
$brown-600: #624f39;
$brown-700: #4c3824;
$mode-brown: #4c3824;
$brown-800: #3e2e1e;
$brown-900: #322519;
$brown-pastel-100: #f1e0d0;
$brown-pastel-200: #ebccad;

$yellow-100: #fff7eb;
$yellow-150: #fdedd8;
$yellow-200: #fce1bf;
$yellow-250: #fbd5a6;
$yellow-300: #fac98d;
$yellow-400: #f9c07a;
$yellow-500: #f9ba70;
$yellow-600: #f8b668;
$yellow-700: #ffbb65;
$mode-yellow: #ffbb65;
$yellow-800: #d9a55f;
$yellow-900: #b88c4f;
$yellow-pastel-100: #f1e2d0;
$yellow-pastel-200: #ebd0ad;

$warm-100: #fdf9f2;
$warm-200: #f6f0e3;
$warm-250: #ede6d9;
$warm-300: #dbd4c7;
$warm-400: #b8b2a2;
$warm-500: #979286;
$warm-600: #6b6861;
$warm-700: #4a4845;
$warm-800: #302f2c;
$warm-900: #201f1d;

$cool-100: #fafaf9;
$cool-200: #ecece9;
$cool-250: #dbdbd4;
$cool-300: #c8c9c4;
$cool-400: #b2b3af;
$cool-500: #989a9a;
$cool-600: #646a6b;
$cool-700: #494f4f;
$cool-800: #303535;
$cool-900: #191b1b;

$black: #151515;
$white: #fefbff;
$grey: #4c4f69;

/*
 * ACCENTS
 */

$accent-smoothing-lime: #daef68;
$accent-lilac-vodka: #c0baf2;
$accent-minty: #73d29e;
$accent-light-truffle: #baa694;
$accent-blue-celeste: #81c2ec;
$accent-classic-pink: #fa9cc6;
$accent-dark-yellow: #ffce00;
$accent-portage: #8f9bff;
$accent-indicolite: #91fa91;
