@use "sass:math";
@use "sass:string";

@function toRem($value) {
  @if $value == 0 {
    @return 0rem;
  }
  $absValue: math.abs($value);
  $unit: math.div($value, $absValue);
  @return math.div($absValue, 16) * 1rem * $unit;
}

@function to-rgba($color, $alpha) {
  $percentage: math.percentage($alpha);
  @return string.unquote(
    "color-mix(in srgb, #{$color} #{$percentage}, transparent)"
  );
}
