@use 'reset' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'colors' as *;
@use 'typography' as *;
@use 'functions' as *;

.separator {
  width: 100%;
  height: toRem(1);
  background-color: $neutral-400;
  border-radius: $br-xl;
}

.invisible {
  visibility: hidden;
}
