@use "variables" as *;
@use "colors" as *;
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

body {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "GRAD" 0,
    "ROND" 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fw-medium;
  color: $black;
  line-height: 1.25;

  &::first-letter {
    text-transform: uppercase;
  }
}

h1 {
  font-size: $fs-heading1;
}

h2 {
  font-size: $fs-heading2;
}

h3 {
  font-size: $fs-heading3;
}

h4 {
  font-size: $fs-heading4;
}

h5 {
  font-size: $fs-heading5;
}

h6 {
  font-size: $fs-heading6;
}

p,
small,
.smaller {
  color: $black;
  font-weight: $fw-regular;
  line-height: 1.25;

  &:first-letter {
    text-transform: uppercase;
  }
}

p {
  font-size: $fs-paragraph;
}

small {
  font-size: $fs-small;
}

.smaller {
  font-size: $fs-smaller;
}

.regular {
  font-weight: $fw-regular;
}

.medium {
  font-weight: $fw-medium;
}

.semibold {
  font-weight: $fw-semibold;
}

.bold {
  font-weight: $fw-bold;
}

.black {
  font-weight: $fw-black;
}

a.link {
  color: $green-400;
  text-decoration-line: underline;
  @include transition;
  transition-property: color;

  &:hover {
    color: $green-600;
  }

  &:active {
    color: $green-800;
  }
}
