@use "functions" as *;

/*
 * FONT SIZE
 */
$fs-heading1: clamp(toRem(36), calc(1.5rem + 3vw), toRem(61.04));
$fs-heading2: clamp(toRem(30), calc(1.25rem + 2.5vw), toRem(48.83));
$fs-heading3: clamp(toRem(24), calc(1.2rem + 2vw), toRem(39.06));
$fs-heading4: clamp(toRem(20), calc(1.1rem + 1.5vw), toRem(31.25));
$fs-heading5: clamp(toRem(18), calc(1rem + 1vw), toRem(25));
$fs-heading6: clamp(toRem(16), calc(1rem + 0.5vw), toRem(20));
$fs-paragraph: clamp(
  toRem(16),
  calc(0.875rem + 0.25vw),
  toRem(16)
); // Stays 16px, but allows scaling if preferred
$fs-small: clamp(toRem(11), calc(0.75rem + 0.15vw), toRem(12.8));
$fs-smaller: clamp(toRem(9), calc(0.65rem + 0.1vw), toRem(10.24));

/*
 * FONT WEIGHT
 */
$fw-thin: 100;
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

/*
 * BORDER RADIUS
 */
$br-none: toRem(0);
$br-xs: toRem(5);
$br-sm: toRem(10);
$br-md: toRem(15);
$br-lg: toRem(20);
$br-xl: toRem(25);
$br-xxl: toRem(30);
$br-xtl: toRem(35);
$br-xxtl: toRem(40);
$br-xxxtl: toRem(45);
$br-rounded: toRem(50);

// TRANSITION
$transition-duration: 400ms;
$transition-delay: 50ms;
$transition-timing-function: cubic-bezier(0.19, 0.63, 0, 0.95);
$transition: all $transition-duration $transition-timing-function
  $transition-delay;
