@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    border-color: var(--color-gray-200, currentcolor);
  }

  html,
  body {
    color: var(--color-gray-900, currentcolor);
    background-color: var(--color-gray-50, currentcolor);
  }

  .using-mouse * {
    outline: none !important;
  }
}
