@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.comment-form {
  background-color: $white;
  border: toRem(2) solid $neutral-200;
  border-radius: toRem(25);
  padding: toRem(24);
  display: flex;
  flex-direction: column;
  gap: toRem(16);

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin: 0;
      font-size: toRem(16);
      font-weight: 600;
      color: $mode-neutral;
    }

    .stars {
      display: flex;
      gap: toRem(4);

      .icon {
        font-size: toRem(24);
        transition: transform 0.1s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &-body {
    textarea {
      width: 100%;
      background-color: $neutral-100;
      border: toRem(2) solid $neutral-400;
      border-radius: $br-xl;
      padding: toRem(15) toRem(30);
      resize: vertical;
      font-family: inherit;
      font-size: toRem(14);
      color: $black;
      outline: none;
      min-height: toRem(80);

      @include transition;
      transition-property: border-color, border-radius;

      &::placeholder {
        color: $neutral-500;
      }

      &:focus {
        border-color: $green-600;
        border-radius: $br-sm;
      }

      &:disabled {
        background-color: $neutral-100;
        cursor: not-allowed;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    gap: toRem(12);

    .submit-btn-wrapper {
      display: flex;
      align-items: center;
      gap: toRem(8);
    }
  }
}
