@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.course-detail-container {
  display: grid;
  grid-template-columns: 1fr 20dvw;
  gap: toRem(20);

  .course-detail-item-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: toRem(50);

    > .title {
      display: flex;
      flex-direction: column;
      gap: toRem(20);

      h3,
      p {
        text-align: center;
      }

      p {
        color: $mode-neutral;
      }
    }

    .course-detail-content {
      display: flex;
      flex-direction: column;
      gap: toRem(25);
      width: 100%;

      &-controls {
        width: 100%;

        > button {
          padding: toRem(10) toRem(25);
          border: toRem(2) solid $neutral-900;
          border-radius: $br-md;
          color: $neutral-900;
          background-color: $white;

          &:hover {
            background-color: $neutral-900;
            color: $white;
            @include transition;
            transition-property: background-color, color;
          }
        }
      }
    }

    .course-detail-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
      gap: toRem(20);
      align-items: stretch;
    }
  }

  .course-detail-comment {
    display: flex;
    flex-direction: column;
    gap: toRem(16);
    width: 100%;
    flex-shrink: 0;
  }
}

@include break(md) {
  .course-detail-container {
    padding: 0;
    flex-direction: column;
    align-items: center;

    .course-detail-list {
      width: 100%;
    }

    .course-detail-comment {
      max-width: 100%;
      margin-top: toRem(20);
    }

    .course-detail-content {
      > .search {
        padding: toRem(10) toRem(20);

        > button > span {
          font-size: toRem(24);
        }
      }
    }
  }
}
