@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.logo {
  display: flex;
  place-items: center;
  justify-content: center;
  gap: toRem(10);
  color: $neutral-700;
  text-decoration: none;

  .material-symbols-rounded {
    font-variation-settings: "FILL" 0;
  }

  &-text {
    font-weight: $fw-semibold;
    white-space: nowrap;
  }

  &.medium {
    .material-symbols-rounded {
      font-size: 30px;
    }

    .logo-text {
      font-size: $fs-heading4;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.small {
    .material-symbols-rounded {
      font-size: $fs-heading5;
    }

    .logo-text {
      font-size: $fs-heading5;
    }
  }
}
