@use "@styles/variables" as *;
@use "@styles/colors" as *;

.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  width: 100%;
  background-color: $green-100;
}
