@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/functions" as *;

.cube-loader {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  place-items: center;
  justify-content: center;

  .cube-loader_box {
    width: toRem(48);
    height: toRem(48);
    background-color: $salmon-500;
    border-radius: toRem(4);
  }
}
