@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/functions" as *;
@use "@styles/mixins" as *;

.account-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: toRem(20);
  width: toRem(300);
  padding: toRem(20);
  border-radius: $br-xl;
  border: toRem(2) solid $neutral-200;
  background-color: $white;
  top: toRem(65);
  right: toRem(10);

  .information {
    display: flex;
    place-items: center;
    gap: toRem(10);

    .avatar {
      background-color: $neutral-400;
      aspect-ratio: 1;
      width: toRem(75);
      border-radius: 50%;
    }

    .context {
      display: flex;
      flex-direction: column;
      gap: toRem(5);

      h6 {
        color: $neutral-800;
        line-height: toRem(25);
      }

      p::first-letter {
        text-transform: none;
        color: $mode-neutral;
        line-height: toRem(20);
      }
    }
  }

  .item-holder {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  &-item {
    display: flex;
    place-items: center;
    gap: toRem(15);
    @include transition;
    transition-property: background-color, color;
    padding: toRem(7.5) toRem(10);
    border-radius: $br-sm;

    span,
    small {
      @include transition;
      transition-property: color;
      color: $mode-neutral;
    }

    span {
      font-size: toRem(20);
    }

    &:hover {
      background-color: $neutral-150;

      span,
      small {
        color: $neutral-600;
      }
    }

    &:active {
      background-color: $neutral-250;

      span,
      small {
        color: $neutral-900;
      }
    }
  }
}
