@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "../_teacher-container-shared.scss" as *;

.teacher-panel {
  @extend %teacher-container-shared;
  aspect-ratio: auto;
  place-items: unset;
  justify-content: unset;
  bottom: unset;
  left: unset;
  overflow: unset;

  @include break(sm) {
    position: absolute;
    bottom: toRem(20);
    left: toRem(20);
  }
}
