@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;
@use "@styles/variables" as *;

.sign-up {
  &-name-row {
    display: flex;
    gap: toRem(20);
  }

  &-error {
    color: $orange-500;
    font-size: toRem(12);
    margin-top: toRem(4);
    padding-left: toRem(4);
  }

  @include break(s) {
    &-name-row {
      flex-direction: column;
    }
  }
}
