@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

$nav-width: toRem(67.5 + 30);

.left-nav-controller {
  position: fixed;
  top: toRem(100);
  left: $nav-width;
  z-index: 3;
  aspect-ratio: 1 / 1;
  place-content: center;
  cursor: pointer;
  @include transition;
  display: flex;
  background: none;
  border: none;
  padding: 0;

  &:not(.active) {
    left: 0;
  }

  .icon {
    font-size: toRem(36);
    color: inherit;
    filter: invert(1);
  }

  &:hover {
    .icon {
      filter: invert(0.8);
    }
  }
}
