@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;

.progress-widget {
  display: flex;
  padding: toRem(20);
  flex-direction: column;
  gap: toRem(20);
  overflow: hidden;

  &-header {
    h3 {
      font-size: toRem(20);
      line-height: toRem(25);
      font-weight: 500;
      color: $neutral-900;
      margin: 0;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: toRem(10);

    &-pill {
      display: flex;
      align-items: center;
      padding: toRem(5);
      font-size: toRem(12);
      font-weight: 500;
      border-radius: $br-xl;

      .dot {
        width: toRem(8);
        height: toRem(8);
        border-radius: 50%;
        background-color: $mode-navy;
        margin-right: toRem(8);
      }
      .num {
        margin-left: auto;
        color: $black;
      }
    }
  }
}

@include break(s) {
  .progress-widget-grid {
    grid-template-columns: 1fr;
  }
}
