@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.dashboard-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: toRem(20);
  background-color: $white;
  padding: toRem(30);
  border-radius: $br-xl;
  overflow: hidden;
  @include box-shadow(0, 4, 6, -1);

  &__icon {
    flex-shrink: 0;
    width: toRem(80);
    height: toRem(80);
    display: flex;
    align-items: center;
    justify-content: center;

    svg,
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: toRem(8);
    justify-content: center;
    min-width: 0;
  }

  &__content-title {
    margin: 0;
    font-size: toRem(25);
    line-height: toRem(35);
    font-weight: 600;
    color: $black;
    word-wrap: break-word;
  }

  &__content-description {
    margin: 0;
    font-size: toRem(16);
    line-height: toRem(20);
    color: $black;
    line-height: 1.5;
  }

  &__action {
    flex-shrink: 0;
    align-self: flex-end;

    button {
      background-color: $mode-green;
      color: $neutral-100;
      border-radius: toRem(100);
      padding: toRem(10) toRem(25);
      font-weight: 500;
      border: none;
    }
  }
}

@include break(sm) {
  .dashboard-banner {
    flex-direction: column;
    align-items: flex-start;
    padding: toRem(20);

    &__action {
      align-self: flex-start;
    }
  }
}
