@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.about-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: toRem(100);
  $grid-template-cols: 1fr 45dvw;

  &__divider {
    border: none;
    height: toRem(3);
    background-color: $neutral-200;
    width: 100%;
  }

  &__head {
    gap: toRem(40);
    display: flex;
    place-items: center;

    &-content {
      display: flex;
      flex-direction: column;
      gap: toRem(20);
      width: 100%;
    }
  }

  &__head-title {
    font-size: toRem(120);
    font-weight: $fw-bold;
    color: $mode-green;
    line-height: toRem(150);
  }

  &__head-tagline {
    font-size: $fs-heading2;
  }

  &__hero {
    display: grid;
    grid-template-columns: 1fr 50dvw;
    gap: toRem(100);

    &-content {
      display: flex;
      flex-direction: column;
      gap: toRem(20);
    }

    img {
      border-radius: $br-xl;
      object-fit: cover;
      max-width: 50dvw;
      aspect-ratio: 3 / 2;
    }
  }

  &__hero-text {
    font-size: $fs-paragraph;
  }

  &__direction,
  &__vision,
  &__team {
    display: grid;
    grid-template-columns: $grid-template-cols;
    gap: toRem(40);
    align-items: start;
  }

  &__direction-text,
  &__vision-text {
    font-size: $fs-heading4;
  }

  &__team-subtitle {
    font-size: $fs-heading4;
    font-weight: $fw-semibold;
  }

  &__direction-heading,
  &__vision-heading,
  &__team-heading {
    position: relative;
    padding-left: toRem(40);
    color: $neutral-400;
    font-size: $fs-heading3;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: toRem(15);
      aspect-ratio: 1 / 1;
      background-color: $neutral-400;
      border-radius: $br-rounded;
    }
  }

  &__direction-heading {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  &__direction-title {
    font-size: $fs-heading3;
  }

  &__direction-subtitle {
    color: $neutral-400;
    font-size: $fs-heading3;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(4, minmax(20dvw, 1fr));
    gap: toRem(20);
  }
}

@include break(md) {
  .about-page {
    &__hero {
      grid-template-columns: 1fr 25dvw;

      img {
        height: 100%;
      }
    }

    &__stats {
      grid-template-columns: repeat(2, minmax(20dvw, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(toRem(100), 1fr));
    }
  }
}

@include break(sm) {
  .about-page {
    &__head {
      svg {
        display: none !important;
      }
    }

    &__hero {
      grid-template-columns: 1fr;

      img {
        max-width: 100%;
      }
    }

    &__stats {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, minmax(toRem(100), 1fr));
    }

    &__direction,
    &__vision,
    &__team {
      grid-template-columns: 1fr;
    }
  }
}

@include break(xs) {
  .about-page {
    &__head-title {
      font-size: 6rem;
      line-height: 1.25;
    }
  }
}
