@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;

.forgot-password-step1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-color: $green-100;

  &-container {
    display: flex;
    padding: 50px;
    background-color: $white;
    border-radius: $br-xl;
    width: 500px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &-input {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid $neutral-400;
    border-radius: $br-rounded;
    font-size: 16px;
    background-color: $neutral-100;
    color: $neutral-900;
    @include transition;

    &:focus {
      border-color: $green-600;
      outline: none;
      border-radius: $br-sm;
    }

    &-error {
      border-color: $orange-500;
    }
  }

  &-error {
    color: $orange-500;
    font-size: 14px;
  }

  &-submit-btn {
    background-color: $green-600;
    color: $white;
    padding: 20px;
    border-radius: $br-rounded;
    width: 100%;
    border: none;
    cursor: pointer;
    @include transition;
    transition-property: background-color, border-radius;

    h6 {
      color: $white;
    }

    &:focus {
      border-radius: $br-sm;
      outline: none;
    }

    &:hover {
      background-color: $green-500;
      border-radius: $br-sm;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &-back-link {
    text-align: center;
    font-size: 16px;
    color: $neutral-500;
  }
}
