@use "@styles/variables" as *;
@use "@styles/colors" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: toRem(64);
  background-color: $green-100;
  padding: toRem(8);
  align-items: center;
  justify-content: space-between;
  border-right: toRem(1) solid rgba($green-600, 0.1);

  &__menu {
    display: flex;
    flex-direction: column;
    gap: toRem(32);
    width: 100%;
    align-items: center;
    margin-top: toRem(16);
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(4);
    width: 100%;
    text-align: center;
    color: $green-600;
    text-decoration: none;

    &--active {
      background-color: $green-700;
      color: $white;
      padding: toRem(12);
      border-radius: $br-xl;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(4);
    padding: toRem(12);
    width: 100%;
    border-radius: $br-xl;
    @include transition;
    transition-property: background-color;

    &:hover {
      background-color: rgba($green-700, 0.1);
    }

    &--search {
      color: $white;
    }
  }

  &__icon {
    font-size: toRem(24);
  }

  &__label {
    font-size: toRem(11);
    font-weight: $fw-medium;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: toRem(16);
    margin-top: auto;
    margin-bottom: toRem(24);
  }

  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: toRem(44);
    height: toRem(44);
    border-radius: 50%;
    border: toRem(1) solid rgba($green-600, 0.2);
    color: $green-600;
    background: transparent;
    cursor: pointer;
    @include transition;
    transition-property: background-color;

    &:hover {
      background-color: rgba($green-600, 0.05);
    }
  }

  &__action-icon {
    font-size: toRem(24);
  }
}
