@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;

.dropdown-menu {
  display: flex;
  flex-direction: column;

  &-control-button {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
}
