@use "@styles/variables" as *;
@use "@styles/mixins" as *;
@use "@styles/functions" as *;
@use "@styles/colors" as *;

.tutor-container {
  display: flex;
  flex-direction: column;
  background-color: $green-100;
  border: toRem(2) solid $green-200;
  padding: toRem(30);
  padding-top: toRem(10);
  border-radius: $br-xl;
  @include box-shadow(0, 4, 6, -1);
  aspect-ratio: 4 / 3;
}
